{% extends 'app/base.html' %}

{% block content %}

<section style="padding-bottom: 20px; padding-top: 65px; background: #212529; height: 200px" id="hero" class="d-flex align-items-center">
    <div class="container text-light">
      <div class="row">
        <div style="text-align: center" class="col-lg-12 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1">
          <h1>Catalogadas</h1>

        </div>
      </div>
    </div>
</section><!-- End Hero -->

<main role="main" class="container">
    <div class="row" style="margin-bottom: 25px;padding-top: 10px">
      <div class="col-2">
        <h3>Pesquisar</h3>
      </div>
     <div class="col-10">
          <form method="POST" class="post-form mt-2 mt-md-0"> {% csrf_token %}
            <input id="search_box" name="search_box" class="form-control mr-sm-4" type="text" placeholder="Digite o nome da catalogada para pesquisar" aria-label="Search">
            <!--<button id="search_submit" style="background-color: black; border-color: black;" type="submit" class="btn btn-secondary">Pesquisar</button>-->
          </form>
      </div>

      <div>
     <!-- <p>
            Clique <a href="{% url 'gerar_xml_catalogadas' %}"> aqui </a>  para gerar o catálogo completo em XML no padrão M.A.P..
        </p>
        <p>
            Clique <a href="{% url 'gerar_xml_catalogadas_edictor' %}"> aqui </a>  para gerar o catálogo completo em XML no padrão eDictor.
        </p>-->
        <p>
            <br>Clique <a href="{% url 'gerar_arquivos_xml_documentos' %}"> aqui </a>  para gerar XML separados de todas as catalogadas e seus documentos no padrão M.A.P..
        </p>
        <p>
            Clique <a href="{% url 'gerar_arquivos_xml_documentos_unico' %}"> aqui </a>  para gerar o XML único de todas as catalogadas e seus documentos no padrão M.A.P..
        </p>

        <p>
            Clique <a href="{% url 'gerar_xml_documentos_edictor' %}"> aqui </a>  para gerar XML separados de todas as catalogadas e seus documentos no padrão eDictor.
        </p>

        <p>
            Clique <a href="{% url 'gerar_xml_documentos_edictor_uni' %}"> aqui </a>  para gerar o XML único de todas as catalogadas e seus documentos no padrão eDictor.
        </p>
      </div>


    </div>

    {% for field in catalogada %}
          <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Códido M.A.P.</th>
                <th scope="col">Códido</th>
                <th scope="col">Nome modernizado</th>
                <th scope="col">Responsável catalogação</th>
                <th scope="col">Publicado</th>
            </tr>
          </thead>

              <tbody>
                <tr>
                    <td>{{ field.codigo_antes }}</td>
                    <td>{{ field.codigo }}</td>
                    <td>{{ field.nome_modernizado }}</td>
                    <td>{{ field.responsavel_catalogacao}}</td>
                    <td>{{ field.publicar }}</td>
                </tr>
              </tbody>
            </table>
            <div class="row" style="margin-bottom: 60px">
                <div class="col-sm-8">
                    <a href="{% url 'descricao' pk=field.id %}" class="btn btn-secondary">Visualizar</a>
                    {# <a href="#" class="btn btn-secondary">Informações internas</a>#}
                    <a href="{% url 'editar' pk=field.id %}" class="btn btn-secondary">Editar</a>
                    <a href="{% url 'gerar_xml' pk=field.id %}" class="btn btn-secondary">Gerar xml</a>
                    <a href="{% url 'gerar_xml_edictor' pk=field.id %}" class="btn btn-secondary">Gerar xml edictor</a>
                </div>
            </div>

           <div class="row" style="margin-bottom: 60px">
               <p><b>Documentos vinculados</b></p>
                <div class="col-sm-12">
                    {% for field_d in field.documentos.all %}
                        <a href="{% url 'descricao_documento' pk=field_d.id %}" class="btn btn-secondary">{{ field_d.id }}</a>
                    {% endfor %}
                </div>
            </div>



        {% endfor %}
</main>
    {% endblock %}
