{% extends 'app/base.html' %}
{% load static %}

{% block content %}


<main class="flex-shrink-0" style="padding-bottom: 0px;">

    <div class="container-fluid text-center bg-dark text-light" style="padding: 60px 15px 0; height: 300px;">
        <h1 class="mt-5"> Mulheres na América Portuguesa</h1>
        <h3>Grupo de Pesquisas Humanidades Digitais</h3>
    </div>


<!-- Introdução - O Projeto M.A.P. -->
    <div class="container text-center" style="padding: 30px 15px 0;">
        <div class="row">
            <h1>A Plataforma M.A.P.</h1>
        </div>
        <div class="row">
            <div class="col">
                <p style="text-align: justify;">
                    Mulheres na América Portuguesa - M.A.P. - é um Projeto conduzido por pesquisadoras do Grupo de Pesquisas Humanidades Digitais da Universidade de São Paulo, abrigado no Núcleo de Apoio à Pesquisas em Etimologia e História da Língua Portuguesa (NEHiLP) e ligado ao Laboratório Virtual de Humanidades Digitais (LaViHD).
                </p>

                <p style="text-align: justify;">
                    O M.A.P. está reunindo um conjunto de fontes documentais imensamente importantes para os estudos filológicos e para os estudos da história das mulheres no Brasil, na forma de documentos escritos por mulheres, ou que relatam seu discurso, entre 1500 e 1822, no espaço atlântico português (veja aqui nosso projeto completo e as perguntas que o motivaram).
                </p>
            </div>
        </div>
    </div>

    <div class="container text-center" style="padding: 30px 15px 0;">
        <div class="row" style="text-align: left">
            <h1>Catalogadas</h1>
        </div>
        <div class="row">
            <div class="col">

            {% for field in catalogada %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Códido M.A.P.</th>
                        <th scope="col">Códido</th>
                        <th scope="col">Nome modernizado</th>
                        <th scope="col">Perfil</th>
                        <th scope="col">Data de catalogação</th>
                        <th scope="col">Publicado</th>
                    </tr>
                  </thead>

                      <tbody>
                        <tr>
                            <td>{{ field.codigo_antes }}</td>
                            <td>{{ field.codigo }}</td>
                            <td>{{ field.nome_modernizado }}</td>
                            <td>{{ field.detalhamento_perfil}}</td>
                            <td>{{ field.data_catalogacao }}</td>
                            <td>{{ field.publicar }}</td>
                        </tr>
                      </tbody>
                    </table>
                {% endfor %}
        <div class="row" style="text-align: left">
            <h1>Documentos</h1>
        </div>
            {% for field in documentos %}
                <table class="table table-striped" >
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Catalogada</th>
                        <th scope="col">Data documento</th>
                        <th scope="col">Tipo documento</th>
                        <th scope="col">Publicado</th>

                    </tr>
                  </thead>

                      <tbody>
                        <tr>
                            <td>{{ field.id }}</td>
                            <td>{{ field.catalogadas.first }}</td>
                            <td>{{ field.data_documento}}</td>
                            <td>{{ field.tipo_documento }}</td>
                            <td>{{ field.publicar }}</td>
                        </tr>
                      </tbody>
                    </table>
        {% endfor %}

            </div>
        </div>
    </div>

    <!--ACOMPANHE O PROJETO-->
    <div class="container-fluid bg-dark text-light" style="padding: 10px 15px 35px;">
        <div class="container">
            <div class="row text-center">
                <h1>Acompanhe o projeto</h1>
            </div>
            <div class="row text-center" style="padding-top: 25px">
                <div class="col">
                    <i class="bi bi-instagram h1"></i>
                </div>

                <div class="col">
                    <i class="bi bi-twitter h1"></i>
                </div>

                <div class="col">
                    <i class="bi bi-youtube h1"></i>
                </div>

                <div class="col">
                    <i class="bi bi-facebook h1"></i>
                </div>

                <div class="col">
                    <i class="bi bi-calendar h1"></i>
                </div>
            </div>
        </div>
    </div>


</main>

{% endblock %}

</body>

</html>