{% extends 'app/base.html' %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<section style="padding-bottom: 20px; padding-top: 65px; background: #212529; height: 200px" id="hero" class="d-flex align-items-center">
    <div class="container text-light">
      <div class="row">
        <div style="text-align: center" class="col-lg-12 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1">
          <h1>Catalogadas</h1>

        </div>
      </div>
    </div>
</section><!-- End Hero -->

<main role="main" class="container">
    <div class="row" style="margin-bottom: 25px;padding-top: 10px">

        {% if messages %}
            <script>
                let nomes = `{% for message in messages %}{{ message|escapejs }}{% endfor %}`;

                Swal.fire({
                    title: 'Importação concluída!',
                    html: `<pre style="text-align:left; white-space:pre-wrap;">${nomes}</pre>`,
                    icon: 'success',
                    confirmButtonText: 'OK',
                    width: 600,
                    customClass: {
                    popup: 'swal2-scrollable'
                    }
                });
            </script>
        {% endif %}



      <div class="col-12">
        <h3>AVISO</h3>
        <p>
            Essa importação será feita apenas uma vez.<br>
        </p>
      </div>

      <div class="col-12">
        <h3>Importar catalogadas</h3>
      </div>

     <div class="col-12">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group col-md-8">
                <input type="file" class="form-control" type="file" name="csv_file" accept=".csv" required>
                <button style="margin-top: 5px" class="btn btn-secondary btn-sm" type="submit" >Importar</button>
            </div>

        </form>
      </div>


    </div>
         <p>
             Vincular documentos: <a href="{% url 'importar_documentos'%}" class="btn btn-secondary btn-sm">Vincular</a>
         </p>

    </div>
    </main>
    {% endblock %}
